.form-container {
    width: 600px;
    padding: 20px;
    min-height: 280px;
    border-radius: 3px;
    background: white;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    box-sizing: border-box;
    .MuiTextField-root {
        display: flex;
        padding-bottom: 20px;
    }
    .MuiInputLabel-root {
        margin: 0 10px;
    }
    .MuiInput-underline {
        background: rgba(#9eb3c2, 0.2);
        border-radius: 30px;
        padding-left: 10px;
        padding-right: 10px;
        &:after, &:before {
            display: none!important;
        }
    }
    &__textarea {
        .MuiInput-underline {
            border-radius: 5px;
        }
    }
    .MuiFormHelperText-root {
        padding: 0 10px;
        &.Mui-error {
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    .MuiButton-root {
        margin-top: 8px;
    }
    &__image-wrap {
        position: relative;
        padding: 8px 0 0 0;
        > span {
            position: absolute;
            font-size: 32px;
            right: -8px;
            top: 0;
            width: 30px;
            height: 30px;
            line-height: 30px!important;
            text-align: center;
            border-radius: 50%;
            box-shadow: 0 0 5px rgba(black, 0.3);
            background: white;
            cursor: pointer;
            font-weight: 500;
        }
    }
}
