.loginform {
    box-shadow: 5px 6px rgba($color: #000000, $alpha: 0.6);
    background-color: #7ebdc2;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    padding: 25px;
    display: flex;
    height: 200px;
    width: 310px;
}