.dashboard {
  &__title {
    margin-top: 35px !important;
  }

  &__description {
    margin-bottom: 45px !important;
  }

  &__header {
    text-align: left;
  }

  &__container {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  &__restaurant-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
  }
  &__add-menu-button {
    width: 320px;
    display: flex;
    justify-content: center;
  }
}

.add-button-restaurant {
  font-size: 70px;
  cursor: pointer;
  width: 80px;
  height: 80px;
  line-height: 80px;
  box-shadow: 0 0 5px rgba(#21295c, 0.2);
  border-radius: 50%;
  text-align: center;
  background: #fff;
  position: relative;
  transition: all 0.3s;
  &:after {
    content: 'Añadir restaurante';
    position: absolute;
    top: 100%;
    left: 50%;
    font-size: 15px;
    white-space: nowrap;
    transform: translateX(-50%);
    color: #21295c!important;
    font-weight: 700;
    line-height: 1;
    margin-top: 10px;
  }
  &:hover {
    color: #fff;
    background: #21295c;
  }
}

