.appbar {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 6px rgba($color: #000000, $alpha: 0.5);
  background-color:#1b3b6f !important;
  justify-content: space-between;
  &__tab-button {
    color: #fff !important;
    font-size: 14px;
    min-width: 150px !important;
    border-right: 1px solid rgba(#fff, 0.2)!important;
    border-radius: 0!important;
    text-transform: none!important;
    &-label {
      color: #ffffff;
      margin-left: 5px;
    }
    &-image {
      margin: 5px;
      height: 30px;
    }
  }
}

.menu {
  color: #1b3b6f
}