.restaurant-form {
    display: flex;
    flex-direction: row;
    &__section {
        flex: 1;
        min-height: 230px;
        text-align: center;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.submitButton { 
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    display: flex;
}