.menu-category {
  max-width: 1200px;
  margin-top: 40px !important;
  margin: 0 auto;
  &__item {
    margin: 0 0 20px 0;
    &-title {
      border: 1px solid #9EB3C2 !important;
      border-radius: 5px !important;
      > div {
        color: #21295c !important;
        align-items: center;
      }
      &__expanded {
        background-color: rgba(#9eb3c2, 0.3) !important;
      }
    }
    &-image {
      margin: 0 30px 0 0;
      display: block;
      height: 50px;
    }
    &-list {
      flex-grow: 1;
    }
  }
  &__add-menu-button {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .add-button {
    margin: 0 auto;
  }
}
.accordion-theme {
  background-color: royalblue;
}

.add-button-section {
  font-size: 70px;
  cursor: pointer;
  width: 80px;
  height: 80px;
  line-height: 80px;
  box-shadow: 0 0 5px rgba(#21295c, 0.2);
  border-radius: 50%;
  text-align: center;
  background: #fff;
  position: relative;
  transition: all 0.3s;
  &:after {
    content: 'Añadir Seccion';
    position: absolute;
    top: 100%;
    left: 50%;
    font-size: 15px;
    white-space: nowrap;
    transform: translateX(-50%);
    color: #21295c!important;
    font-weight: 700;
    line-height: 1;
    margin-top: 10px;
  }
  &:hover {
    color: #fff;
    background: #21295c;
  }
}