.dish {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-item {
      width: 45%!important;
      align-items: flex-start!important;
      &-image {
        padding: 8px 0 0 0;
      }
    }
  }
  &__add-menu-button {
    width: 50%;
    height: 120px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}

.add-button-dish {
  font-size: 60px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  line-height: 60px;
  box-shadow: 0 0 5px rgba(#21295c, 0.2);
  border-radius: 50%;
  text-align: center;
  background: #fff;
  position: relative;
  transition: all 0.3s;
  &:after {
    content: 'Añadir Platillo';
    position: absolute;
    top: 100%;
    left: 50%;
    font-size: 15px;
    white-space: nowrap;
    transform: translateX(-50%);
    color: #21295c!important;
    font-weight: 700;
    line-height: 1;
    margin-top: 10px;
  }
  &:hover {
    color: #fff;
    background: #21295c;
  }
}