.modal {
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  &__container {
    width: 400px;
    margin: 40px;
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
  }
  &__actions {
    display: flex;
    margin-top: 60px;
    flex-direction: row;
    justify-content: flex-end;
  }

}